<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{style.css}" />
    <meta charset="UTF-8">
    <title>Webshop</title>
    <header>
        <h1><a href="/" id="myShop">My shop</a></h1>
        <a href="only-available" id="onlyAvailable">Only Available</a>
        <a href="cheapest-first" id="cheapest">Cheapest First</a>
        <a href="contains-nike" id="contains">Contains Nike</a>
        <a href="average-stock" id="average">Average Stock</a>
        <a href="most-expensive" id="mostExp">Most Expensive Available</a>
        <img src="sanyiAngel.png" alt="sanyi" id="sanyi" width="200" height="110">
        <a href="https://www.greenfoxacademy.com/">
            <img src="greenfox.jpg" alt="fox" width="50" height="50">
        </a>
        <h4>Infected GreenFox</h4>
        <hr>
    </header>
</head>
<body>
<img src="johny.jpg" width="600" height="400" id="johny">

</body>
</html>